<div class="jumbotron center">
	<h1>Joyce Ho is the betsest girl in the world, do you agree? Then sign up!</h1>
	<p>
		<%= link_to "Log In", "#", class: "btn btn-default btn-lg" %>
		<%= link_to "Sign Up", "#", class: "btn btn-primary btn-lg" %>
	</P>
</div>
